.venv
.env
.paux
*.log
config.yaml
last_processed_date.txt
data/
artifacts/
.DS_Store
.coverage
.paperweight_cache.json
*.bak

# Build artifacts
build/
dist/
*.egg-info/

# Cache
**/__pycache__
.pytest_cache
.ruff_cache
.mypy_cache
